# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Affiliates do
  @moduledoc """
  API calls for all endpoints tagged `Affiliates`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Single-bet cart for affiliate mode
  Returns live odds across operators for a single event betting market position, overlaid with the calling client's best affiliate offer per operator. Powers the widget's \"Bet Now\" cart for a single selection. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_event_position_post_request` (V1AffiliatesEventPositionPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_event_position_post(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesEventPositionPostRequest.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_event_position_post(connection, v1_affiliates_event_position_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/event-position")
      |> add_param(:body, :body, v1_affiliates_event_position_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Parlay cart for affiliate mode
  Returns combined parlay odds per operator, the per-leg single bets, and the calling client's best affiliate offer per operator, with combo deeplinks generated per operator. Powers the widget's \"Bet Now\" cart for a multi-leg bet. Results are scoped to the authenticated client; operators can be gated with operator_ids / operator_keys.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_parlay_post_request` (V1AffiliatesParlayPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_parlay_post(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesParlayPostRequest.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_parlay_post(connection, v1_affiliates_parlay_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/parlay")
      |> add_param(:body, :body, v1_affiliates_parlay_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
