# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Events do
  @moduledoc """
  API calls for all endpoints tagged `Events`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Get upcoming events
  Returns upcoming events with optional sport and league filters, timezone support, and pagination.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_events_upcoming_events_post_request` (V1EventsUpcomingEventsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_events_upcoming_events_post(Tesla.Env.client, OddittApiClient.Model.V1EventsUpcomingEventsPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_events_upcoming_events_post(connection, v1_events_upcoming_events_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/events/upcoming-events")
      |> add_param(:body, :body, v1_events_upcoming_events_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end
end
