# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Historical do
  @moduledoc """
  API calls for all endpoints tagged `Historical`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  List historical odds events (paginated)
  Returns a paginated catalog of per-event historical odds files the authenticated client has access to. Each result entry carries pre-baked download URLs for the JSON and CSV payloads; clients GET those URLs directly. Results are scoped to the authenticated client; callers without a client association receive `403 Forbidden`. 

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:schema_version` (String.t): Payload schema version. Defaults to `v1` when omitted. Unknown versions are rejected.
    - `:sport_id` (integer()): 
    - `:league_id` (integer()): 
    - `:team_id` (integer()): Filter to events involving this team as either home or away.
    - `:start_date` (String.t): Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    - `:end_date` (String.t): Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_historical_events_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.TrendsErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_historical_events_get(connection, opts \\ []) do
    optional_params = %{
      :schema_version => :query,
      :sport_id => :query,
      :league_id => :query,
      :team_id => :query,
      :start_date => :query,
      :end_date => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/historical/events")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {401, OddittApiClient.Model.TrendsErrorResponse},
      {403, OddittApiClient.Model.TrendsErrorResponse},
      {422, OddittApiClient.Model.TrendsErrorResponse},
      {500, OddittApiClient.Model.TrendsErrorResponse}
    ])
  end

  @doc """
  Download a per-event historical odds file
  Resolves the requested per-event file for the authenticated client and streams the JSON or CSV payload back. The response body is the raw file content (not the manifest envelope); the API takes care of fetching the bytes from the underlying CDN so callers see a single HTTP call per file.  The `sha256` of the bytes-at-rest is exposed as a strong `ETag`. Clients can short-circuit with `If-None-Match` to receive `304 Not Modified`. `Range` requests are forwarded upstream and `206 Partial Content` responses are relayed unchanged — useful for resuming multi-MB CSV downloads. 

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `event_id` (integer()): Canonical event identifier.
  - `ext` (String.t): File format. `json` returns `application/json`; `csv` returns `text/csv`.
  - `opts` (keyword): Optional parameters
    - `:schema_version` (String.t): Payload schema version. Defaults to `v1` when omitted.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_historical_odds_event_id_ext_get(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, map()} | {:ok, nil} | {:ok, OddittApiClient.Model.TrendsErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_historical_odds_event_id_ext_get(connection, event_id, ext, opts \\ []) do
    optional_params = %{
      :schema_version => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/historical/odds/#{event_id}.#{ext}")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {206, false},
      {304, false},
      {400, OddittApiClient.Model.TrendsErrorResponse},
      {401, OddittApiClient.Model.TrendsErrorResponse},
      {403, OddittApiClient.Model.TrendsErrorResponse},
      {404, OddittApiClient.Model.TrendsErrorResponse},
      {422, OddittApiClient.Model.TrendsErrorResponse},
      {500, OddittApiClient.Model.TrendsErrorResponse},
      {502, OddittApiClient.Model.TrendsErrorResponse}
    ])
  end
end
