# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Links do
  @moduledoc """
  API calls for all endpoints tagged `Links`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Bulk deactivate links by filter
  Soft-deletes all links matching a filter (e.g. a state goes offline).

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_links_bulk_deactivate_post_request` (V1AffiliatesLinksBulkDeactivatePostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_bulk_deactivate_post(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesLinksBulkDeactivatePostRequest.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_bulk_deactivate_post(connection, v1_affiliates_links_bulk_deactivate_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/links/bulk-deactivate")
      |> add_param(:body, :body, v1_affiliates_links_bulk_deactivate_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Bulk patch links by filter
  Applies a patch to all links matching a filter (e.g. rewrite all FanDuel-NJ URLs on a domain change).

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_links_bulk_patch_request` (V1AffiliatesLinksBulkPatchRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_bulk_patch(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesLinksBulkPatchRequest.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_bulk_patch(connection, v1_affiliates_links_bulk_patch_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/v1/affiliates/links/bulk")
      |> add_param(:body, :body, v1_affiliates_links_bulk_patch_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Bulk create/upsert links (JSON or CSV)
  Upserts many links idempotently on the natural key. Accepts a JSON array of row objects or a text/csv body (header row). Per-row errors never fail the batch. Use ?dry_run=true to validate without persisting.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `request_body` ([map()]): 
  - `opts` (keyword): Optional parameters
    - `:dry_run` (boolean()): When true, validates the whole batch and returns the per-row report without persisting. Always synchronous.
    - `:async` (boolean()): Force background processing. Batches of 500+ rows are queued automatically regardless of this flag. Queued batches return 202 with a job_id to poll at /v1/affiliates/links/jobs/{job_id}.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_bulk_post(Tesla.Env.client, list(%{optional(String.t) => any()}), keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:ok, OddittApiClient.Model.V1AffiliatesLinksBulkPost202Response.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_bulk_post(connection, request_body, opts \\ []) do
    optional_params = %{
      :dry_run => :query,
      :async => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/links/bulk")
      |> add_param(:body, :body, request_body)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {202, OddittApiClient.Model.V1AffiliatesLinksBulkPost202Response},
      {400, OddittApiClient.Model.AffiliateErrorResponse},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  List async bulk jobs
  Recent async bulk jobs for the authenticated client.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_jobs_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_jobs_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/links/jobs")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Poll an async bulk job
  Status, counts, and per-row errors for one async bulk job. Poll until status is \"completed\" or \"failed\". Scoped to the authenticated client.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `job_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_jobs_job_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_jobs_job_id_get(connection, job_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/links/jobs/#{job_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {400, OddittApiClient.Model.AffiliateErrorResponse},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {404, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Create or upsert a single link
  Creates a link, or updates the existing one on the natural key (operator + geography + category + campaign + label). Resolves operator, country, and region at write time; unresolvable codes return 422.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_links_post_request` (V1AffiliatesLinksPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_post(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesLinksPostRequest.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_post(connection, v1_affiliates_links_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/links")
      |> add_param(:body, :body, v1_affiliates_links_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
