# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Lookups do
  @moduledoc """
  API calls for all endpoints tagged `Lookups`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Affiliate networks

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_lookups_affiliate_networks_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_lookups_affiliate_networks_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/lookups/affiliate-networks")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Offer categories

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_lookups_offer_categories_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_lookups_offer_categories_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/lookups/offer-categories")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Operator jurisdictions
  Where we believe an operator is live. Informational only — not an upload gate.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:operator_id` (integer()): 
    - `:country_code` (String.t): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_lookups_operator_jurisdictions_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_lookups_operator_jurisdictions_get(connection, opts \\ []) do
    optional_params = %{
      :operator_id => :query,
      :country_code => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/lookups/operator-jurisdictions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Operators
  Paginated list of operators, optionally filtered by a free-text search term.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_lookups_operators_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_lookups_operators_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/lookups/operators")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
