# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Odds do
  @moduledoc """
  API calls for all endpoints tagged `Odds`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Get upcoming odds by event
  Returns paginated betting market positions for a specific upcoming event, optionally filtered by operator.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_odds_upcoming_odds_by_event_post_request` (V1OddsUpcomingOddsByEventPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_odds_upcoming_odds_by_event_post(Tesla.Env.client, OddittApiClient.Model.V1OddsUpcomingOddsByEventPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_odds_upcoming_odds_by_event_post(connection, v1_odds_upcoming_odds_by_event_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/odds/upcoming-odds-by-event")
      |> add_param(:body, :body, v1_odds_upcoming_odds_by_event_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end
end
