# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Offers do
  @moduledoc """
  API calls for all endpoints tagged `Offers`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Paginated client deals
  Paginated client deals (carousel/featured/list), optionally enriched with operator reviews. Scoped to the authenticated client.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (V1AffiliatesDealsPostRequest): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_deals_post(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_deals_post(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/deals")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Client offer cards for a geography
  Returns the calling client's best operator offer card per operator for a geography. The core offers read the widget cart renders.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (V1AffiliatesOffersPostRequest): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_offers_post(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_offers_post(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/offers")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
