# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.References do
  @moduledoc """
  API calls for all endpoints tagged `References`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Get betting market categories
  Returns available betting market categories, optionally filtered by sport.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:sport_id` (integer()): 
    - `:sport_key` (String.t): Sport external key (e.g. 'american-football'). Alternative to sport_id. If both are provided, sport_id takes precedence.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_betting_market_categories_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_betting_market_categories_get(connection, opts \\ []) do
    optional_params = %{
      :sport_id => :query,
      :sport_key => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/betting-market-categories")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get all betting market positions
  Returns all available betting market positions.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_betting_market_positions_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_betting_market_positions_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/references/betting-market-positions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get betting markets (paginated)
  Returns a paginated list of betting markets with optional sport filter and text search.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:sport_id` (integer()): 
    - `:sport_key` (String.t): Sport external key (e.g. 'american-football'). Alternative to sport_id. If both are provided, sport_id takes precedence.
    - `:search` (String.t): Text search filter for betting market names
    - `:page` (integer()): Page number for pagination
    - `:page_size` (integer()): Number of results per page

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_betting_markets_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_betting_markets_get(connection, opts \\ []) do
    optional_params = %{
      :sport_id => :query,
      :sport_key => :query,
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/betting-markets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get countries (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Search by country name
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_countries_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_countries_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/countries")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get event periods
  Returns available event periods, optionally filtered by sport.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:sport_id` (integer()): 
    - `:sport_key` (String.t): Sport external key (e.g. 'american-football'). Alternative to sport_id. If both are provided, sport_id takes precedence.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_event_periods_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_event_periods_get(connection, opts \\ []) do
    optional_params = %{
      :sport_id => :query,
      :sport_key => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/event-periods")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get leagues (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:country_id` (integer()): 
    - `:sport_id` (integer()): 
    - `:sport_key` (String.t): Sport external key (e.g. 'american-football'). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.
    - `:search` (String.t): 
    - `:is_popular` (boolean()): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 
    - `:search_mode` (String.t): Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_leagues_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_leagues_get(connection, opts \\ []) do
    optional_params = %{
      :country_id => :query,
      :sport_id => :query,
      :sport_key => :query,
      :search => :query,
      :is_popular => :query,
      :page => :query,
      :page_size => :query,
      :search_mode => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/leagues")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get odds formats (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_odds_format_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_odds_format_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/odds-format")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get operators (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Search by operator display name
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_operators_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_operators_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/operators")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get players (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:team_id` (integer()): 
    - `:team_key` (String.t): Team external key (e.g. 'new-england-patriots', 'nfl.new-england-patriots'). Format: {team_key} or {league_key}.{team_key}. Alternative to team_id. If both are provided, team_id takes precedence.
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 
    - `:search_mode` (String.t): Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_players_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_players_get(connection, opts \\ []) do
    optional_params = %{
      :team_id => :query,
      :team_key => :query,
      :search => :query,
      :page => :query,
      :page_size => :query,
      :search_mode => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/players")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get sports (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_sports_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_sports_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/sports")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get subnational regions (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `country_id` (integer()): Country ID to filter subnational regions
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): Search by subnational region name
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_subnational_regions_get(Tesla.Env.client, integer(), keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_subnational_regions_get(connection, country_id, opts \\ []) do
    optional_params = %{
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/subnational-regions")
      |> add_param(:query, :country_id, country_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get tag dimensions
  Returns the top-level tag dimension categories. Use these as entry points to explore the tag hierarchy. Optionally filter to dimensions relevant to a specific flow type.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:flow_type` (String.t): Filter by flow type eligibility.

  ### Returns

  - `{:ok, OddittApiClient.Model.V1ReferencesTagDimensionsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_tag_dimensions_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.V1ReferencesTagDimensionsGet200Response.t} | {:error, Tesla.Env.t}
  def v1_references_tag_dimensions_get(connection, opts \\ []) do
    optional_params = %{
      :flow_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/tag-dimensions")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.V1ReferencesTagDimensionsGet200Response}
    ])
  end

  @doc """
  Search tag types
  Search across tag types by keyword. Returns paginated results with breadcrumb paths for disambiguation. Use terminal_only combined with flow_type to find only tags that are usable as filters for a specific flow type.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:search` (String.t): 
    - `:search_mode` (String.t): How the search term is matched. Defaults to 'starts_with'.
    - `:dimension` (String.t): Limit results to a specific dimension (e.g. 'event', 'metadata').
    - `:flow_type` (String.t): Filter by flow type eligibility.
    - `:terminal_only` (boolean()): When true, returns only terminal (filterable) tag types.
    - `:tag_level` (integer()): Restrict results to a specific hierarchy depth.
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsPaginatedResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_tag_types_search_get(Tesla.Env.client, keyword()) :: {:ok, OddittApiClient.Model.TrendsPaginatedResponse.t} | {:error, Tesla.Env.t}
  def v1_references_tag_types_search_get(connection, opts \\ []) do
    optional_params = %{
      :search => :query,
      :search_mode => :query,
      :dimension => :query,
      :flow_type => :query,
      :terminal_only => :query,
      :tag_level => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/tag-types/search")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsPaginatedResponse}
    ])
  end

  @doc """
  Get child tag types
  Returns the direct children of a given tag type, along with context about the parent (description and known values). Use this to navigate the tag hierarchy from dimensions down to individual filterable tags.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `tag_type_id` (integer()): Parent tag type ID to drill into.
  - `opts` (keyword): Optional parameters
    - `:include_values` (boolean()): When true, includes individual value-level leaf tags in the results. When false (default), value-level leaves are omitted — the parent's known_values field already enumerates them.
    - `:flow_type` (String.t): Filter by flow type eligibility.

  ### Returns

  - `{:ok, OddittApiClient.Model.V1ReferencesTagTypesTagTypeIdChildrenGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_tag_types_tag_type_id_children_get(Tesla.Env.client, integer(), keyword()) :: {:ok, OddittApiClient.Model.V1ReferencesTagTypesTagTypeIdChildrenGet200Response.t} | {:error, Tesla.Env.t}
  def v1_references_tag_types_tag_type_id_children_get(connection, tag_type_id, opts \\ []) do
    optional_params = %{
      :include_values => :query,
      :flow_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/tag-types/#{tag_type_id}/children")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.V1ReferencesTagTypesTagTypeIdChildrenGet200Response}
    ])
  end

  @doc """
  Get teams (paginated)
  Returns a paginated list of teams. When neither `start_date` nor `end_date` is provided, only teams whose affiliation is currently active are returned. When either date is provided, the result is filtered to teams whose affiliation overlapped the requested window — useful for looking up teams that played in a league during a past season. 

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:league_id` (integer()): 
    - `:league_key` (String.t): League external key (e.g. 'nba', 'united-states.nba'). Format: {league_key} or {country_key}.{league_key}. Alternative to league_id. If both are provided, league_id takes precedence.
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 
    - `:search_mode` (String.t): Search mode (e.g. exact match vs partial). When omitted, uses default search behavior.
    - `:start_date` (String.t): Inclusive lower bound on the event/affiliation date, ISO format YYYY-MM-DD.
    - `:end_date` (String.t): Inclusive upper bound on the event/affiliation date, ISO format YYYY-MM-DD.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_references_teams_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_references_teams_get(connection, opts \\ []) do
    optional_params = %{
      :league_id => :query,
      :league_key => :query,
      :search => :query,
      :page => :query,
      :page_size => :query,
      :search_mode => :query,
      :start_date => :query,
      :end_date => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/references/teams")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end
end
