# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Reporting do
  @moduledoc """
  API calls for all endpoints tagged `Reporting`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Impression/click rollups
  Per-link, per-day impression and click counts for the authenticated client.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `start_date` (Date.t): 
  - `end_date` (Date.t): 
  - `opts` (keyword): Optional parameters
    - `:operator_id` (integer()): 
    - `:country_code` (String.t): 
    - `:subnational_region_code` (String.t): 
    - `:offer_campaign` (String.t): 
    - `:offer_label` (String.t): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_clicks_get(Tesla.Env.client, Date.t, Date.t, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_clicks_get(connection, start_date, end_date, opts \\ []) do
    optional_params = %{
      :operator_id => :query,
      :country_code => :query,
      :subnational_region_code => :query,
      :offer_campaign => :query,
      :offer_label => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/links/clicks")
      |> add_param(:query, :start_date, start_date)
      |> add_param(:query, :end_date, end_date)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end

  @doc """
  Inventory counts
  Active/inactive link counts grouped by the requested dimension.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:group_by` (String.t): 

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_links_inventory_summary_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_links_inventory_summary_get(connection, opts \\ []) do
    optional_params = %{
      :group_by => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/affiliates/links/inventory-summary")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse},
      {500, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
