# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Telemetry do
  @moduledoc """
  API calls for all endpoints tagged `Telemetry`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Log an impression or click
  Fire-and-forget telemetry. Records one impression (card render) or click (deeplink tap). Returns 202 on accept; never blocks the widget's click-out.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_affiliates_events_post_request` (V1AffiliatesEventsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_affiliates_events_post(Tesla.Env.client, OddittApiClient.Model.V1AffiliatesEventsPostRequest.t, keyword()) :: {:ok, nil} | {:ok, OddittApiClient.Model.AffiliateErrorResponse.t} | {:error, Tesla.Env.t}
  def v1_affiliates_events_post(connection, v1_affiliates_events_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/affiliates/events")
      |> add_param(:body, :body, v1_affiliates_events_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {202, false},
      {403, OddittApiClient.Model.AffiliateErrorResponse},
      {422, OddittApiClient.Model.AffiliateErrorResponse}
    ])
  end
end
