# NOTE: This file is auto generated by OpenAPI Generator 7.23.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OddittApiClient.Api.Trends do
  @moduledoc """
  API calls for all endpoints tagged `Trends`.
  """

  alias OddittApiClient.Connection
  import OddittApiClient.RequestBuilder

  @doc """
  Get flows by betting market position IDs

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_trends_by_betting_market_position_post_request` (V1TrendsByBettingMarketPositionPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_by_betting_market_position_post(Tesla.Env.client, OddittApiClient.Model.V1TrendsByBettingMarketPositionPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_by_betting_market_position_post(connection, v1_trends_by_betting_market_position_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/by-betting-market-position")
      |> add_param(:body, :body, v1_trends_by_betting_market_position_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get fact flow graph data

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `fact_flow_id` (integer()): The fact flow ID to get graph data for
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flow_graph_data_fact_flow_id_get(Tesla.Env.client, integer(), keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_flow_graph_data_fact_flow_id_get(connection, fact_flow_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/trends/flow-graph-data/#{fact_flow_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get flow tooltip payload

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `flow_type` (String.t): Type of flow (fact or fun)
  - `flow_id` (integer()): The flow ID to get tooltip data for
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flow_tooltip_flow_type_flow_id_get(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_flow_tooltip_flow_type_flow_id_get(connection, flow_type, flow_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/trends/flow-tooltip/#{flow_type}/#{flow_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get flows by ids

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_trends_flows_by_id_post_request` (V1TrendsFlowsByIdPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flows_by_id_post(Tesla.Env.client, OddittApiClient.Model.V1TrendsFlowsByIdPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_flows_by_id_post(connection, v1_trends_flows_by_id_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/flows-by-id")
      |> add_param(:body, :body, v1_trends_flows_by_id_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get flows (paginated)
  Same parameters as mixed-flows but returns non-mixed (single-type) flows. Uses the same underlying request model.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_trends_flows_post_request` (V1TrendsFlowsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flows_post(Tesla.Env.client, OddittApiClient.Model.V1TrendsFlowsPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_flows_post(connection, v1_trends_flows_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/flows")
      |> add_param(:body, :body, v1_trends_flows_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Quote a batch of flows against the caller's configured check endpoint
  Accepts a JSON array of 1..50 flow specifications and, for each one, forwards a hydrated payload to the URL the caller has registered under `/v1/account/check-endpoint`. Outbound calls run in parallel; the response is a JSON array with one entry per input item, in input order. Per-item failures are encoded in each entry's `status` (and `body`) so one bad operator response does not poison the others. Batch-level failures map to HTTP 4xx without an array body — 412 when the caller has not configured a check endpoint, 422 on validation failure.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `trends_quote_flow_item` ([OddittApiClient.Model.TrendsQuoteFlowItem.t]): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%TrendsQuoteItemResult{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flows_quote_post(Tesla.Env.client, list(OddittApiClient.Model.TrendsQuoteFlowItem.t), keyword()) :: {:ok, nil} | {:ok, OddittApiClient.Model.TrendsErrorResponse.t} | {:ok, [OddittApiClient.Model.TrendsQuoteItemResult.t]} | {:error, Tesla.Env.t}
  def v1_trends_flows_quote_post(connection, trends_quote_flow_item, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/flows/quote")
      |> add_param(:body, :body, trends_quote_flow_item)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsQuoteItemResult},
      {400, OddittApiClient.Model.TrendsErrorResponse},
      {412, false},
      {422, OddittApiClient.Model.TrendsErrorResponse}
    ])
  end

  @doc """
  Mock operator pricing endpoint — for sandbox / development use
  Drop-in stand-in for a real operator's pricing endpoint. Accepts ONE hydrated pricing payload (the exact shape that /v1/trends/flows/quote POSTs to a configured check endpoint) and returns synthetic pricing- response data with deterministic `button_payload` values and randomly- injected failure modes (~15% rate). Integrators wire this URL into /v1/account/check-endpoint as `url` to round-trip the widget call entirely on platform infrastructure without a real operator. Not for production traffic.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `trends_quote_sandbox_request` (TrendsQuoteSandboxRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsQuoteSandboxResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_flows_quote_sandbox_post(Tesla.Env.client, OddittApiClient.Model.TrendsQuoteSandboxRequest.t, keyword()) :: {:ok, OddittApiClient.Model.TrendsErrorResponse.t} | {:ok, OddittApiClient.Model.TrendsQuoteSandboxResponse.t} | {:error, Tesla.Env.t}
  def v1_trends_flows_quote_sandbox_post(connection, trends_quote_sandbox_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/flows/quote-sandbox")
      |> add_param(:body, :body, trends_quote_sandbox_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OddittApiClient.Model.TrendsQuoteSandboxResponse},
      {400, OddittApiClient.Model.TrendsErrorResponse},
      {422, OddittApiClient.Model.TrendsErrorResponse}
    ])
  end

  @doc """
  Get leagues with available flows

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:sport_id` (integer()): 
    - `:sport_key` (String.t): Sport external key (e.g. 'american-football'). Format: {sport_key}. Alternative to sport_id. If both are provided, sport_id takes precedence.

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_leagues_with_available_flows_get(Tesla.Env.client, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_leagues_with_available_flows_get(connection, opts \\ []) do
    optional_params = %{
      :sport_id => :query,
      :sport_key => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/trends/leagues-with-available-flows")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Get mixed flows (paginated)

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `v1_trends_flows_post_request` (V1TrendsFlowsPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_mixed_flows_post(Tesla.Env.client, OddittApiClient.Model.V1TrendsFlowsPostRequest.t, keyword()) :: {:ok, map()} | {:error, Tesla.Env.t}
  def v1_trends_mixed_flows_post(connection, v1_trends_flows_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/mixed-flows")
      |> add_param(:body, :body, v1_trends_flows_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  Submit a widget telemetry event
  Records a single client-side widget interaction (impression, click, dwell, or cart action) for analytics. Accepts a typed envelope `{event_type, mode, event_body}`: `event_type` is a closed enum naming the interaction, optional `mode` describes the widget mode, and `event_body` is an arbitrary JSON object whose shape depends on the event. Available only to widget API keys. Fire-and-forget: returns `202 Accepted` once the event is queued; the response does not guarantee durable storage.

  ### Parameters

  - `connection` (OddittApiClient.Connection): Connection to server
  - `trends_widget_event_request` (TrendsWidgetEventRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, OddittApiClient.Model.TrendsWidgetEventResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_trends_widget_event_post(Tesla.Env.client, OddittApiClient.Model.TrendsWidgetEventRequest.t, keyword()) :: {:ok, OddittApiClient.Model.TrendsErrorResponse.t} | {:ok, OddittApiClient.Model.TrendsWidgetEventResponse.t} | {:error, Tesla.Env.t}
  def v1_trends_widget_event_post(connection, trends_widget_event_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/v1/trends/widget/event")
      |> add_param(:body, :body, trends_widget_event_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {202, OddittApiClient.Model.TrendsWidgetEventResponse},
      {400, OddittApiClient.Model.TrendsErrorResponse},
      {403, OddittApiClient.Model.TrendsErrorResponse},
      {422, OddittApiClient.Model.TrendsErrorResponse}
    ])
  end
end
